<!DOCTYPE html>
<html>
<head>
  <title>Scroll of the Rings II: Wizard Battle!</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="apple-touch-icon" href="static/wizard_battle_logo.jpg">
  <link rel="icon" href="static/wizard_battle_logo.jpg">
</head>
<body>
  <img src="static/wizard_battle_logo.jpg" alt="Wizard Battle" style="width: min(75vw, 75vh); height:auto"/>
  <h1>Choose Your Wizard</h1>
  <div class="card-container">
    {% for wizard in wizards %}
    <div class="card">
      <a href="/battlebegin?wizard={{ wizard.name }}" style="text-decoration: none; color: yellow;">
          <video loop autoplay muted playsinline src="/static/{{ wizard.portrait_filename }}" alt="{{ wizard.name }}" style="width: 384px; height: 384px;"></video>
          <br/>
          <p>{{ wizard.name }}</p>
      </a> 
    </div>
    {% endfor %}
  </div>
  <footer style="margin-top: 200px; font-size:12pt;">
      <p>Made by <a href="https://lwneal.com">lwneal</a> for <a href="https://ldjam.com/">Ludum Dare 54</a></p>
  </footer>
</body>
</html>
