<!DOCTYPE html>
<html>
<head>
  <title>Wizard Battle</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <img src="static/wizardbattle-logo-text.jpg" alt="Wizard Battle" style="width: min(75vw, 75vh); height:auto"/>
  <h1>Choose Your Wizard</h1>
  <div class="card-container">
    {% for wizard in wizards %}
    <div class="card">
      <a href="/battlebegin?wizard={{ wizard.name }}" style="text-decoration: none; color: yellow;">
          <video loop autoplay muted playsinline src="/static/{{ wizard.portrait_filename }}" alt="{{ wizard.name }}" style="width: 384px; height: 384px;"></video>
          <br/>
          <p>{{ wizard.name }}</p>
      </a> 
    </div>
    {% endfor %}
  </div>
</body>
</html>
